@charset "utf-8";

button {
    border-radius: 25px;
    background-color: #eee;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
}

button:hover {
    background-color: #000;
    color: #eee
}