@charset "utf-8";

h1,
p {
    margin: 10px 0;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.sec-content {
    padding: 20px;
}

.btn-content {
    border: 1px solid #000;
    padding: 10px 20px;
}

.modal {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #000;
    background-color: #eee;
}

.modal p {
    margin: 0;
}

input {
    border: 1px solid #000;
    padding: 1px;
}

.btn-delete {
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}

.btn-on {
    padding: 2px 20px;
    margin: 0 0 0 -1px;
    color: #fff;
    background-color: #000;
}