@charset "utf-8";

.section-accordion {}

.section-accordion h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
}

.section-accordion .list {
    display: flex;
    position: relative;
    height: 100px;
}

.section-accordion .list > .item {
    border-bottom: 1px solid #eee;
}

.section-accordion .list > .item.on {
    border-bottom: 1px solid #999;
}

a:hover {
    color: #000;
}

.section-accordion .list > .item > a {
    background-color: #eee;
    padding: 0 40px;
}

.section-accordion .list > .item.on > a {
    background-color: #999;
}

.accordion-desc {
    position: absolute;
    top: 24px;
    left: 0;
}