@charset "utf-8";

.modal {
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: #eee;
}

.modalfunction {
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: #eee;
}

.modal-btn {
    padding: 10px;
    border: 1px solid #000;
}

.modal-btn:hover {
    background-color: #000;
    color: #fff;
}